.first_button {
	background-color: #4387fd;
	font-family: sans-serif;
	color: #FFF;
	display: block;
	border-radius: 4px;
	border:1px solid #4285f4;
	font-size: 13.5px;
	font-weight: bold;
	height: 35px;
	margin-top: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0 12px;
	line-height: 28px
}

label, input{
	font-family: sans-serif;
	font-size: 13.5px;
}

.gris{
	display: block;
	width: 81.5%
	margin:20px 3rem 0;
	background-color: #F4EDED;
	padding: 0.02px 20px 6px;
	border-radius: 4px 4px 0px 0px;
   -moz-border-radius: 4px 4px 0px 0px;
   -webkit-border-radius: 4px 4px 0px 0px;
    color: #3D3C3C;
    border: 20px 25px;
    padding: 1.1rem 3rem;
}

.hola{
	width: 75%;
}

section{
	border: 1px solid #E5E3E3;
	border-radius: 1px
	-moz-border-radius: 4px 4px 4px 4px;
   -webkit-border-radius: 4px 4px 4px 4px;
}

body{
	margin: 70px 150px;
}

.espaciado, .espacia2, .espacia3, .espacia4{
	display: inline-block;
	width: 40%;
	padding-left:50px;
}